@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    margin: 0;
    row-gap: 18px;
    font-size: 18px;
}

#input-form {
    grid-row: 1 / span 2;
    grid-column-start: 2;
    place-self: center;
}

#card1,
.card2 {
    color: white;
}

.cardfront,
.cardback {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#numclone,
#nameclone,
#mmclone,
#yyclone,
.cardfront, .cardlogo {
    position: absolute;
}

.cardfront {
    left: 180px;
    top: 130px;
}

.cardlogo {
    left: 215px;
    top: 160px;
}

#numclone {
    left: 220px;
    top: 250px;
    letter-spacing: 5px;
    font-size: 25px;
}

#nameclone {
    left: 215px;
    top: 318px;
    font-size: 0.9em;
}

#mmclone {
    left: 545px;
    top: 334px;
    font-size: 0.9em;
}

#yyclone {
    left: 566px;
    top: 334px;
    font-size: 0.9em;
}

#cvcclone,
.cardback {
    position: absolute;
}

.cardback {
    left: 280px;
    top: 410px;

}

#cvcclone {
    left: 633px;
    top: 505px;
    font-size: 0.9em;
}

form {
    height: 350px;
    /* position: absolute; */
    top: 33%;
    right: 25%;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

label.number,
label.expiry-date,
label.cvc {
    margin-top: 30px;
}

input {
    width: 390px;
    padding: 10px 10px;
    border: 1px solid hsla(279, 6%, 55%, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

input:focus {
    outline: 0px solid hsl(249, 99%, 64%);
    border-top-color: hsl(249, 99%, 64%);
    border-right-color: hsl(278, 94%, 30%);
    border-bottom-color: hsl(249, 99%, 64%);
    border-left-color: hsl(278, 94%, 30%);
}

input::placeholder {
    font-weight: 300;
}

input:invalid {
    border: 1px solid hsl(0, 100%, 66%);
}

p#errorMsg,
p#card-num-error,
p#expiry-error,
p#error-cvc {
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 2px;
}

p#expiry-error,
p#error-cvc {
    letter-spacing: 1px;
}

.flex {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.flex .expiry {
    width: 90px;
    margin-right: 5px;
}

.flex .cvc {
    width: 135px;
}

input.expiry,
input.cvc {
    margin-top: 5px;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    all: unset;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.button:hover {
    background-color: hsl(278, 68%, 11%, 0.8);
}

.thank-you {
    position: absolute;
    right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Space Grotesk", sans-serif;
}

.thank-you img {
    width: 70px;
}

.thank-you h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.thank-you p {
    font-weight: 500;
    color: hsl(279, 6%, 55%);
}

button#continue {
    margin-top: 25px;
    width: 350px;
}




.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    grid-column: 1 /span 2;
}

.attribution a {
    color: hsl(23, 45%, 44%);
}